body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
}
a{
color: #595959;
}
h1 {
    color: #ffc107;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}
h1:hover {
    color: #ffc107;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}
.container {
    background-color: rgba(18, 18, 18, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.img-product {
    width: 300px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
    margin: 23px;
    border-radius: 8px; /* Opcional: para bordas arredondadas */
}

.form-control, .form-select {
    background-color: #000000;
    color: white;
    border: 1px solid #ffc107;
}
.form-control {
display: block;
width: 100%;
background-color: rgb(0, 0, 0) !important;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
color: white !important;
line-height: 1.5;
color: var(--bs-body-color);
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: var(--bs-body-bg);
background-clip: padding-box;
border: var(--bs-border-width) solid #ffc107;
border-radius: var(--bs-border-radius);
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        color: antiquewhite;
    }
}
.text-muted {
    --bs-text-opacity: 1;
    color: rgb(255 255 255 / 75%) !important;
}
label {
    color: #ffc107;
    font-weight: bold;
}
.btn-vibrant {
    background-color: #ffc107;
    color: black;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: bold;
    margin-left: 10px; /* Espaçamento entre os botões */
}

.form-control:disabled {
    background-color: #000000;
    opacity: 1;
}
.btn-vibrant:hover {
    background-color: #000000;
    color: #ffc107;
}
.btn-secondary {
    background-color: transparent;
    color: #ffc107;
    border: 1px solid #ffc107;
}
.btn-secondary:hover {
    background-color: #ffc107;
    color: black;
}
.form-control:disabled {
background-color: #000000 !important;
opacity: 1;
/* background-color: crimson; */
}
.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgb(0 0 0) !important;
}

    
.form-text {
margin-top: .25rem;
font-size: .875em;
color: rgb(255 255 255 / 75%);
}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: white;
    
    text-decoration: none;
    white-space: nowrap;
} 
.navbar-brand:hover {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgb(52, 107, 202);
    
    text-decoration: none;
    white-space: nowrap;
} 

