body {
    background-color: #121212; /* Fundo escuro */
    color: white; /* Texto branco */
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #ffc107; /* Cor vibrante para títulos */
    text-align: center;
    margin-bottom: 30px;
}

.container {
    background-color: rgba(18, 18, 18, 0.9); /* Fundo do container */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para o container */
}

.form-control, .form-select {
    background-color: #000; /* Fundo dos campos */
    color: white; /* Texto branco */
    border: 1px solid #ffc107; /* Borda vibrante */
}

.form-control:disabled {
    background-color: #000 !important; /* Fundo dos campos desativados */
    opacity: 1;
}

label {
    color: #ffc107; /* Cor vibrante para labels */
    font-weight: bold;
}

.btn-vibrant {
    background-color: #ffc107; /* Cor vibrante dos botões */
    color: black;
    transition: all 0.3s ease-in-out;
    border-radius: 50px; /* Bordas arredondadas */
    padding: 8px 20px;
    font-weight: bold;
}

.btn-vibrant:hover {
    background-color: #000; /* Cor ao passar o mouse */
    color: #ffc107;
}

.btn-secondary {
    background-color: transparent; /* Fundo transparente */
    color: #ffc107; /* Texto vibrante */
    border: 1px solid #ffc107; /* Borda vibrante */
}

.btn-secondary:hover {
    background-color: #ffc107; /* Cor ao passar o mouse */
    color: black; /* Texto escuro ao passar o mouse */
}

.text-muted {
    color: rgba(255, 255, 255, 0.75) !important; /* Texto menos destacado */
}

.footer {
    background-color: #2c2c2c; /* Fundo do rodapé */
    padding: 20px;
    text-align: center;
}

.hero-section {
    background: url('https://example.com/caronte-bg.jpg') no-repeat center center/cover; /* Imagem de fundo */
    height: 80vh; /* Altura da seção */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    
    padding: 20px;
    border-radius: 10px;
}

.hero-text h1 {
    color: #ffc107; /* Cor vibrante para o texto da hero */
    font-size: 4rem;
}

.hero-text p {
    font-size: 1.5rem;
}

.menu-section {
    padding: 50px 0;
}

.menu-section h2 {
    color: #ffc107; /* Cor vibrante para os títulos do menu */
    text-align: center;
    margin-bottom: 40px;
}

.menu-item {
    background-color: #2c2c2c; /* Fundo do item do menu */
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05); /* Efeito de hover */
}
